@import url('https://fonts.googleapis.com/css?family=Audiowide|Cabin+Sketch|GFS+Neohellenic:700|Quantico:700|Ubuntu+Mono:700');

$text-primary: #fff;
$text-accent-light: #63ffae;
$text-accent-dark: #0a6860;
$text-secondary: #b488e0;

$background-primary: #282c34;

$border-primary: #d9d9d9;

$font-accent: 'Cabin Sketch', monospace;
$font-accent1: 'Audiowide', monospace;
$font-accent2: 'GFS Neohellenic', sans-serif;
$font-accent3: 'Quantico', sans-serif;
$font-accent4: 'Ubuntu Mono', monospace;

