@import '../vars.scss';

.FlipText {
  display: inline-block;
  transition: transform 0.5s;

  &-flip {
    transform: scaleX(-1);
  }

  &-holder {
    &:hover, &:active {
      > span {
        transform: unset;
      }
    }
  }
}