@import 'Client/vars.scss';

.Blog {
  align-items: center;
  justify-content: center;

  font-family: $font-accent4;

  a {
    display: block;
    color: $text-accent-light;

    &:hover, &:active {
      color: $text-primary;
    }
  }
}