@import 'Client/vars.scss';

.Projects {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  font-size: 100px;
  font-family: $font-accent4;

  &-logo {
    height: 40vmin;
  }
}