@import '../vars.scss';

.FlipText {
  display: inline-block;
  transition: transform 0.5s;

  &-flip {
    transform: scaleX(-1);
  }

  &-holder {
    &:hover > span, &:active > span {
      transform: scaleX(1);
    }
  }
}